body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.subrayado{
    text-decoration: underline;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ol {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
    margin-bottom: 30px;
}

.negrita {
    font-weight: bold;
}

/* Ejercicio 07, estilos iguales para P y h6 y ejercicio 08: parrafos color verde y centrado*/
p, h6 {
    font-family: 'Times New Roman', Times, serif;
    color: #00ff00;
    font-size: 30px;
    text-align: center;
}

